<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Service Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<p th:text="'Hello, ' + ${name} + '!'" />
<p>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Massa ex taciti ad taciti diam sem habitant? Vehicula netus lacus odio himenaeos felis luctus morbi. Fusce facilisis metus accumsan, maximus fermentum auctor mauris. Tellus mollis faucibus purus faucibus sollicitudin lobortis vehicula.
</p>
<img th:src="@{/java.png}" alt="Java Image" width="600" height="600" />
</body>
</html>
